<div id="loader">
    <div class="d-flex align-items-center full-height bg-inverse text-white">
        <div class="text-center mx-auto">
            <img src="{{ asset('images/loading_flower.gif') }}"
                 alt="{{ 'img.spinner' | trans }}"
                 width="29" height="29">
            <p class="">
                {{ 'txt.loading' | trans }}
            </p>
            <noscript>
                <p class="alert alert-warning">
                    {{ 'txt.javascript-needed' | trans }}
                </p>
            </noscript>
        </div>
    </div>
</div>
