/app/config/parameters.yml
/build/
/phpunit.xml
/src/AppBundle/DataFixtures/CSV/dev/*
!/src/AppBundle/DataFixtures/CSV/dev/.gitkeep
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/images/achievements/bw/*
!/web/images/achievements/bw/.gitkeep
/web/images/achievements/color/*
!/web/images/achievements/color/.gitkeep
/web/images/scenes/*
!/web/images/scenes/.gitkeep
/*.phar
