{% block footer %}
    <ul class="list-inline hidden-sm-down">
        {% for achievement in achievements %}
            <li class="my-4">
                <a href="{% path achievement.media, 'reference' %}"
                     data-lightbox="big"  data-title="{{ achievement.title }}"
                     class="achievementLink{{ achievement.id }}">
                    {% if achievement.done %}
                        {% set classImg = 'img-thumbnail img-fluid achievementImage' ~ achievement.id %}
                    {% else %}
                        {% set classImg = 'bw img-thumbnail img-fluid achievementImage' ~ achievement.id %}
                    {% endif %}
                    {% media achievement.media, 'small' with {'class': classImg } %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <p class="text-center hidden-md-up mx-auto">
        {% for achievement in achievements %}
            <a href="{% path achievement.media, 'reference' %}"
               data-lightbox="small"  data-title="{{ achievement.title }}"
               class="achievementLink{{ achievement.id }}">
                {% if achievement.done %}
                    {% set classImg = 'img-thumbnail img-fluid achievementImage' ~ achievement.id %}
                {% else %}
                    {% set classImg = 'bw img-thumbnail img-fluid achievementImage' ~ achievement.id %}
                {% endif %}
               {% media achievement.media, 'small' with {'class': classImg } %}
            </a>
        {% endfor %}
    </p>
{% endblock %}
